.node-container {
    width: 100%;
    height: 100%;
}

/*CSS mode dark - bright*/
.light {
    background-color: white !important;
    color: black !important;
}

.dark {
    background-color: black !important;
    color: white !important;
}

:root {
    --bg: white;
    --primary: #fadb14;
    --node-border: #1677ff;
    --bg-node: black;
    --text-color: white;
}

.dark-theme {
    --bg: black;
    --primary: #52c41a;
    --node-border: teal;
    --bg-node: white;
    --text-color: black;
}

.node-container {
    background-color: var(--bg-node);
    color: var(--text-color);
}

.react-flow__handle {
    z-index: 2;
    border-radius: unset;
    border: none;
    background-color: var(--primary);
}

/* Rotate handler */
.rotateHandle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #3367d9;
    left: 50%;
    top: -30px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    cursor: alias;
}

.rotateHandle:after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 30px;
    background: #3367d9;
    left: 4px;
    top: 5px;
}

.select-custom {
    width: 100%;
    border: 1px solid teal;
    padding: 3px 5px;
    border-radius: 5px;
}

.textarea-custom {
    width: 100%;
    border: 1px solid teal;
    border-radius: 5px;
}
